[Unit]
Description=Sets up the LTE hat
After=dev-ttyUSB1.device

[Service]
Type=simple
Environment=TERM=xterm-256color
User=root
Group=root
ExecStart=/bin/bash -c "(echo -e 'AT+CGACT=1,8\r'; sleep 2) | minicom -D /dev/ttyUSB1 -b 115200"

[Install]
WantedBy=multi-user.target